__old__.*
*.bak

# /work_dir/
/work_dir/plugins/allergens-dietary-ictoria/*
!/work_dir/plugins/allergens-dietary-ictoria/plugin-files-go-here
work_dir/plugins/allergens-dietary-ictoria
work_dir/allergens-dietary-ictoria
allergens-dietary-ictoria
.gitmodules
